Activity 22
------------

The goal for this activity will be to compute some BCNF decompositions.

First we'll load those tools, and some sample data:

In [12]:
from closure import compute_closure, display_side_by_side, print_setup

In [13]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@None'

In [6]:
%%sql DROP TABLE IF EXISTS T;
CREATE TABLE T(course VARCHAR, classroom INT, time INT);
INSERT INTO T VALUES ('CS 3200', 120, 1145);
INSERT INTO T VALUES ('CS 4240', 140, 1000);
INSERT INTO T VALUES ('DS 2000', 210, 900);

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Exercise 22-1

First, let's decompose `T` into BCNF!  Explicitly go through the steps of the BCNF algorithm using the `compute_closure` function, then decompose the following table (i.e. by creating new SQL tables) into BCNF:

We've also made a function, `display_side_by_side`, for nicer display!

In [8]:
%sql SELECT * FROM T;

Done.

[(u'CS 3200', 120, 1145), (u'CS 4240', 140, 1000), (u'DS 2000', 210, 900)]

We are given the following FDs:

In [10]:
Y = set(['course', 'classroom', 'time'])
F = [('course', 'classroom'), (set(['classroom', 'time']), 'course')]
print_setup(Y, F)

Attributes = {classroom,course,time}
FDs = 	course -> classroom
	classroom,time -> course

**Question:** What real-world constraints do these FDs express?

Now, use the `compute_closure` function to help decompose this table to BCNF.

#### Solution:

Compose into two tables, $T_1$ and $T_2$:

In [11]:
%%sql
DROP TABLE IF EXISTS T1;
CREATE TABLE T1 AS SELECT DISTINCT * FROM (
        # TODO
    
    
);

Done.
(sqlite3.OperationalError) unrecognized token: "#" [SQL: u'CREATE TABLE T1 AS SELECT DISTINCT * FROM (\n        # TODO\n);']

In [ ]:
%%sql
DROP TABLE IF EXISTS T2;
CREATE TABLE T2 AS SELECT DISTINCT * FROM (
        # TODO
    
    
);

Now run the query below to display the decomposed tables side-by-side:

In [ ]:
l = %sql SELECT * FROM T1;
r = %sql SELECT * FROM T2;
display_side_by_side(l,r)

**Q:** Is this now in BCNF?

### Exercise 22-2

There is a shortcoming of BCNF decompositions; let's see if we can get a glimpse of this next.

See if you can insert rows into $T_1$ and/or $T_2$ _which respect the local FDs that still hold_, such that **when $T_1$ and $T_2$ are now recomposed, the original FDs do not hold!**

Now, reconstruct and print the re-composed table using a SQL query:

**Q:** What went wrong??  And how could we prevent this from occuring?