
# Illustrates nested Loop Joins and lateral joins in SQL
  
cs3200: Database design  
https://northeastern-datalab.github.io/cs3200/  

CS 7240: Principles of scalable data management  
https://northeastern-datalab.github.io/cs7240/  

CS 7575: A Seminar On Relational Language Design    
https://northeastern-datalab.github.io/cs7575/  

SQL file 305  
https://github.com/northeastern-datalab/cs3200-activities/tree/master/sql    

First version: 1/26/2026  
This version: 1/28/2026

### 1. Repetition: Nested Loop strategy with empty table (conceptual evaluation strategy)

In [1]:
print("--- 2nd nested loop ---")
for i in range(2):
    for j in range(3):
        for k in range(1):
            result = "TRUE" if (i == j or i == k) else ""
            print(f"i={i}, j={j}, k={k}: {result}")

--- 2nd nested loop ---
i=0, j=0, k=0: TRUE
i=0, j=1, k=0: TRUE
i=0, j=2, k=0: TRUE
i=1, j=0, k=0:
i=1, j=1, k=0: TRUE
i=1, j=2, k=0:

### 2. Inner joins vs. lateral joins

In [2]:
X = [1, 2, 3, 4]        # X = range(1, 5)
Y = [1, 2, 3, 4]

#### Inner join with results

In [3]:
# Standard nested loop strategy for inner joins: the sequence of the loops does not matter
# 
# In more concise notation: 
#    result = [(x, y) for x in X for y in Y if x < y]

result = []
for x in X:
    for y in Y:
        if x < y:
            result.append((x, y))
            
for row in result:
    print(row)

(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)

#### Inner join with just printing

In [4]:
# result = [(x, y) for x in X for y in Y if x < y]

for x in X:
  for y in Y:
    result = "TRUE" if x<y else ""
    print(f"x={x}, y={y}: {result}")

x=1, y=1:
x=1, y=2: TRUE
x=1, y=3: TRUE
x=1, y=4: TRUE
x=2, y=1:
x=2, y=2:
x=2, y=3: TRUE
x=2, y=4: TRUE
x=3, y=1:
x=3, y=2:
x=3, y=3:
x=3, y=4: TRUE
x=4, y=1:
x=4, y=2:
x=4, y=3:
x=4, y=4:

#### Lateral join with justprinting

In [5]:
# result = [(x, z) for x in X for z in (y for y in Y if x < y)]

for x in X:
  filtered_Y = [y for y in Y if x < y]
  for z in filtered_Y:
    result = "TRUE" if x<z else ""
    print(f"x={x}, y={z}: {result}")

x=1, y=2: TRUE
x=1, y=3: TRUE
x=1, y=4: TRUE
x=2, y=3: TRUE
x=2, y=4: TRUE
x=3, y=4: TRUE

### 3. Lateral join example

In [6]:
R = [
    ("a", 1),
    ("a", 2),
    ("b", 3),
    ("c", 4),
    ("c", 5),
    ("d", 6),
]

S = [
    ("a", 1),
    ("a", 2),
    ("b", 3),
    ("b", 4),
    ("c", 5),
    ("e", 6),
]

def lateral_X(rA):
    bs = [b for (sA, b) in S if sA < rA]
    sm = sum(bs) if bs else None   # SQL SUM(empty) = NULL
    return {"sm": sm}

result = [(rA, lateral_X(rA)["sm"]) for (rA, _) in R]
print(result)

[('a', None), ('a', None), ('b', 3), ('c', 10), ('c', 10), ('d', 15)]